:root {
  --primary-900: rgba(41, 8, 8, 1);
  --primary-800: rgba(83, 16, 16, 1);
  --primary-700: rgba(124, 25, 25, 1);
  --primary-600: rgba(166, 33, 33, 1);
  --primary-500: rgba(207, 41, 41, 1);
  --primary-400: rgba(219, 73, 73, 1);
  --primary-300: rgba(226, 109, 109, 1);
  --primary-200: rgba(233, 146, 146, 1);
  --primary-100: rgba(241, 182, 182, 1);
  --primary-50: rgba(248, 219, 219, 1);
  --secondary-900: rgba(10, 30, 19, 1);
  --secondary-800: rgba(20, 60, 37, 1);
  --secondary-700: rgba(30, 90, 56, 1);
  --secondary-600: rgba(40, 120, 74, 1);
  --secondary-500: rgba(50, 150, 93, 1);
  --secondary-400: rgba(63, 189, 117, 1);
  --secondary-300: rgba(100, 203, 144, 1);
  --secondary-200: rgba(139, 216, 172, 1);
  --secondary-100: rgba(178, 229, 200, 1);
  --secondary-50: rgba(216, 242, 227, 1);
  --neutro-900: rgba(53, 28, 28, 1);
  --neutro-800: var(--variable-collection-neutro-800);
  --neutro-700: var(--variable-collection-neutro-700);
  --neutro-600: var(--variable-collection-neutro-600);
  --neutro-500: var(--variable-collection-neutro-500);
  --neutro-400: var(--variable-collection-neutro-400);
  --neutro-300: var(--variable-collection-neutro-300);
  --neutro-200: var(--variable-collection-neutro-200);
  --neutro-100: var(--variable-collection-neutro-100);
  --neutro-50: var(--variable-collection-neutro-50);
  --h1-font-family: "Ribeye", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 72px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 110.00000238418579%;
  --h1-font-style: normal;
  --h2-font-family: "Ribeye", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 48px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 120.00000476837158%;
  --h2-font-style: normal;
  --h3-font-family: "Ribeye", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 32px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 129.99999523162842%;
  --h3-font-style: normal;
  --h4-font-family: "Ribeye", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 24px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 139.9999976158142%;
  --h4-font-style: normal;
  --h5-font-family: "Ribeye", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 18px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 139.9999976158142%;
  --h5-font-style: normal;
  --body-font-family: "Ribeye", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 160.0000023841858%;
  --body-font-style: normal;
  --small-body-font-family: "Ribeye", Helvetica;
  --small-body-font-weight: 400;
  --small-body-font-size: 14px;
  --small-body-letter-spacing: 0px;
  --small-body-line-height: 150%;
  --small-body-font-style: normal;
  --caption-font-family: "Ribeye", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 12px;
  --caption-letter-spacing: 0px;
  --caption-line-height: 139.9999976158142%;
  --caption-font-style: normal;
  --variable-collection-neutro-800: rgba(105, 56, 56, 1);
  --variable-collection-neutro-700: rgba(158, 84, 84, 1);
  --variable-collection-neutro-600: rgba(190, 132, 132, 1);
  --variable-collection-neutro-500: rgba(218, 185, 185, 1);
  --variable-collection-neutro-400: rgba(224, 197, 197, 1);
  --variable-collection-neutro-300: rgba(230, 208, 208, 1);
  --variable-collection-neutro-200: rgba(236, 220, 220, 1);
  --variable-collection-neutro-100: rgba(243, 232, 232, 1);
  --variable-collection-neutro-50: rgba(249, 243, 243, 1);
}
